html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Video de fondo */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px); /* Desenfoque en el video */
}

input[type="email"], input[type="password"] {
    padding: 10px;  /* Agrega espacio dentro de los campos */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: calc(100% - 20px); /* Asegura que los campos no lleguen al borde */
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 20px; /* Espaciado horizontal para dispositivos peque침os */
}

/* Estilo del formulario */
.content {
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px); /* Desenfoque detr치s del contenido */
}

/* Estilos del encabezado */
h2 {
    font-size: 2.5rem;
    color: #1858cffb; /* Azul */
    margin-bottom: 1.5rem;
    font-weight: bold;
}

/* Estilos del formulario */
form label {
    font-size: 1rem;
    color: #065ca3;
    font-weight: bold;
}

form input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 1rem;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

form input:focus {
    background-color: #e6f7ff;
    border-color: #1858cffb;
    outline: none;
}

/* Bot칩n de inicio de sesi칩n */
form button {
    background-color: #0152affb;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #5293df;
    transform: scale(1.05);
}

form button:active {
    transform: scale(0.98);
}

/* Enlace para registrarse */
p a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

p a:hover {
    color: #111214;
}

/* Estilos para los mensajes de error */
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

